<header class="landing-copy">
  <h1>
    <span class="fade-in r">r</span><span class="fade-in a">a</span><span class="fade-in i">i</span><span class="fade-in l">l</span><span class="fade-in s">s</span>
  </h1>
  <h1>
    <span class="fade-in p">p</span><span class="fade-in u">u</span><span class="fade-in r">r</span><span class="fade-in g">g</span><span class="fade-in a">a</span><span class="fade-in t">t</span><span class="fade-in o">o</span><span class="fade-in r">r</span><span class="fade-in y">y</span>
  </h1>
  <div class="text-center">
    <p class="fade-in landing-sub-header">
      level up your activerecord
    </p>
    <%= link_to 'signin with github', github_login_path, class: "btn fade-in btn-signin", id:"signin" %>
  </div>
</header>
