<div class="jumbotron landing-jumbo-one text-center">
  <h1>words</h1>
  <h3>more words</h3>
  <%= link_to 'signin with github', github_login_path, class: "btn btn-signin", id:"signin" %>
</div>
<div class="container">
</div>
