<div class="modal fade" id="lockedExerciseModal" tabindex="-1" role="dialog" aria-labelledby="currentExerciseModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="lockedExerciseModal">This challenge is locked.</h4>
      </div>
      <div class="modal-body">
        Completed your current challenge to move on.
      </div>
    </div>
  </div>
</div>
