<div class="modal fade" id="tutorialModal" tabindex="-1" role="dialog" aria-labelledby="tutorialModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="tutorialModal">Welcome to purgatory.</h4>
      </div>
      <div class="modal-body">
        Hey
      </div>
      <div class="modal-footer">
        <%= link_to "start your journey to activerecord paradise", user_path, class:"btn btn-start" %>
      </div>
    </div>
  </div>
</div>
