<div class="container">
  <div class="row">
    <% @exercises.each do |exercise| %>
      <%= exercise.create_div(current_user) %>
    <% end %>
  </div>
</div>
<%= render partial: "welcome_tutorial_modal" %>
<%= render partial: "next_exercise_modal" %>
<%= render partial: "current_exercise_modal" %>
