@import "colors";
@import "font-stack";

.dropdown-margin {
  margin-bottom: 10px;
}

.exercise-div {

}

a.exercise{
  text-decoration:none;
  color:#fff;
  -webkit-transition: -webkit-transform 0.1s;
  position:relative;
  overflow:hidden;
}

a.exercise h2{
  position:absolute;
  bottom:5px;
  font-size:14px;
}

a.exercise h2.top {
  position:static;

  font-size:14px;
}

a.exercise:hover {
  -webkit-transform: scale(1.05);
}

.exercise {
    width:100%;
    height:auto;
    overflow:hidden;
    font-size:13px;
    padding:10px;
    display:block;
    float:left;
    margin:15px;
}

.new{background:$purgatory-blue;}
.locked{background:$purgatory-dark-blue;}
